@model ProcessFormModel
@{
    @using System.Data;
    ViewData["Title"] = "ProcessForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataSet panchayats = ViewBag.panchayats, wards = ViewBag.wards, tehsils = ViewBag.tehsils;
    DataSet rlnTypes = ViewBag.rlnTypes, villages = ViewBag.villages, addressTehsils = ViewBag.addressTehsils;
    string logUserType = Context.Session.GetString("logUserType");
    string selectedPanchayat = ViewBag.selectedPanchayat;
    DataSet selectedWard = ViewBag.selectedWard;
}
<script>
    function SubmitForm() { 
        document.getElementById('frmProcessForm').submit();
    }
</script>

<form id="frmProcessForm" method="post">
    <input type="hidden" id="hidPostCause" asp-for="postCause" />
    <input type="hidden" id="hidPanMun" asp-for="panMun" />
    <input type="hidden" id="hidformid" asp-for="formid" />
    <div class="container">
        <h2 class="pageheading">Form Processing </h2>
        <div class="row" style="padding-left:10px;padding-right:10px;border-top-left-radius:10px;border-top-right-radius:10px;">
            <div class="col-sm-12" style="text-align:center; background-color:darkcyan; color:white;font-size:large;border-top-left-radius:10px;border-top-right-radius:10px;">
                Polling Station
            </div>
        </div>
        <div class="row" style="margin-left:0px;">
            <div class="col-sm-4">
                <label class="form-label mylabel " for="ddwnTehsil">Tehsil</label>
                @{
                    List<SelectListItem>
                    items = new List<SelectListItem>();
                    SelectListItem listItem = new SelectListItem();
                    listItem.Text = "<----Select---->";
                    listItem.Value = "";
                    items.Add(listItem);
                    foreach (DataRow row in tehsils.Tables[0].Rows)
                    {
                        SelectListItem s = new SelectListItem();
                        s.Text = row["TNAME"].ToString();
                        s.Value = row["TCODE"].ToString();
                        // s.Selected = row["PCODE"].ToString() == selectedPanchayat ? true : false;
                        items.Add(s);
                    }
                }
                <select asp-for="tehsil" id="ddwnTehsil" name="tehsil" class="form-select mycontrol" asp-items="@items" onchange="document.getElementById('hidPostCause').value='tehsil';document.getElementById ('frmProcessForm').submit ();"></select>
            </div>
            <div class="col-sm-4">
                <label class="form-label mylabel " for="ddwnPanchayat">Panchayat</label>
                @{
                    items.Clear();
                    listItem.Text = "<----Select---->";
                    listItem.Value = "";
                    items.Add(listItem);
                    foreach (DataRow row in panchayats.Tables[0].Rows)
                    {
                        SelectListItem s = new SelectListItem();
                        s.Text = row["PAN_NAME"].ToString();
                        s.Value = row["PCODE"].ToString();
                        items.Add(s);
                    }
                }
                <select asp-for="panchayat" id="ddwnPanchayat" name="panchayat" class="form-select mycontrol" asp-items="@items" onchange="document.getElementById('hidPostCause').value='panchayat';document.getElementById ('frmProcessForm').submit ();"></select>
            </div>
            <div class="col-sm-4">
                <label class="form-label mylabel" for="ddwnWard">Ward</label>
                @{
                    items.Clear();
                    listItem.Text = "<----Select---->";
                    listItem.Value = "";
                    items.Add(listItem);
                    foreach (DataRow row in wards.Tables[0].Rows)
                    {
                        SelectListItem s = new SelectListItem();
                        s.Text = row["WARD_NAME"].ToString();
                        s.Value = row["CONST_NO"].ToString();
                        // s.Selected = row["PCODE"].ToString() == selectedPanchayat ? true : false;
                        items.Add(s);
                    }
                }
                <select asp-for="ward" id="ddwnWard" name="ward" class="form-select mycontrol" asp-items="@items"></select>
            </div>
        </div>
    </div>
</form>