@model SEMS.Models.Counting.VotesModel
@{
    @using System.Data;
    ViewData["Title"] = "ProgressReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataSet constTypes = ViewBag.constTypes, districts = ViewBag.districts, tehsils = ViewBag.tehsils;
    DataSet panchayats = ViewBag.panchayats, pollingStations = ViewBag.pollingStations, constituencies = ViewBag.constituencies;
    DataSet candidateList = ViewBag.candidateList;
}
<script>

    function SubmitForm(item) {
        var pc = item.id;
        document.getElementById("hidPostCause").value = pc;
        document.getElementById('frmProgressReport').submit();
    }

    function GenerateReport() {
        var ct = document.getElementById("ddwnConstType").value;
        if (ct == "1") 
        {
            var constcode = document.getElementById('ddwnPanchayat').value;
            
        }
        else 
        { 
            var constcode = document.getElementById('ddwnConstituency').value;
            
        }
            
        
        var newurl = "https://" + window.location.host + "/Reports/Form20/" + constcode + "?ctype=" + ct;
        window.open(newurl);
    }

</script>
<form id="frmProgressReport" method="post">
    <input type="hidden" id="hidPostCause" asp-for="postCause" />
    <input type="hidden" id="hidPanMun" asp-for="panMun" />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <h3 class="pageheading">Report Parameters</h3>
                    <hr />
                    <div class="col-sm-4">
                        <label class="form-label mylabel" for="divConstType">Constituency Type</label>
                    </div>
                    <div class="col-sm-8">

                        @{
                            List<SelectListItem> items = new List<SelectListItem>();
                            foreach (DataRow row in constTypes.Tables[0].Rows)
                            {
                                SelectListItem s = new SelectListItem();
                                s.Text = row["TYPE_NAME"].ToString();
                                s.Value = row["TYPE_CODE"].ToString();
                                items.Add(s);
                            }
                        }
                        <select class="form-select mycontrol" id="ddwnConstType" asp-for="constType" asp-items="@items" onchange="SubmitForm(this);"></select>
                    </div>
                    <div class="col-sm-4" style="margin-top:10px;">
                        <label class="form-label mylabel" for="ddwnTehsil">Tehsil</label>
                    </div>
                    <div class="col-sm-8" style="margin-top:10px;">
                        @{
                            items.Clear();
                            foreach (DataRow row in tehsils.Tables[0].Rows)
                            {
                                SelectListItem s = new SelectListItem();
                                s.Text = row["TNAME"].ToString();
                                s.Value = row["TCODE"].ToString();
                                items.Add(s);
                            }
                        }

                        <select class="form-select mycontrol" id="ddwnTehsil" asp-for="tehsil" asp-items="@items" onchange="SubmitForm(this);"></select>
                    </div>
                    <div id="divConstLabel" class="col-sm-4" style="margin-top:10px;">
                        <label class="form-label mylabel" for="ddwnConstituency">Constituency</label>
                    </div>
                    <div id="divConst" class="col-sm-8" style="margin-top:10px;">
                        @{
                            items.Clear();
                            foreach (DataRow row in constituencies.Tables[0].Rows)
                            {
                                SelectListItem s = new SelectListItem();
                                s.Text = row["CONST_NAME"].ToString();
                                s.Value = row["CONST_CODE"].ToString();
                                items.Add(s);
                            }
                        }

                        <select id="ddwnConstituency" class="form-select mycontrol" asp-for="constName" asp-items="@items"></select>
                    </div>
                    <div id="divPanchLabel" class="col-sm-4" style="margin-top:10px;">
                        <label class="form-label mylabel" for="ddwnPanchayat">Panchayat</label>
                    </div>
                    <div id="divPanchayat" class="col-sm-8" style="margin-top:10px;">
                        @{
                            items.Clear();
                            foreach (DataRow row in panchayats.Tables[0].Rows)
                            {
                                SelectListItem s = new SelectListItem();
                                s.Text = row["PAN_NAME"].ToString();
                                s.Value = row["PNO"].ToString();
                                items.Add(s);
                            }
                        }
                        <select id="ddwnPanchayat" class="form-select mycontrol" asp-for="panchayat" asp-items="@items"></select>
                    </div>
                    <p></p>
                    <hr />
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-danger form-control" onclick="GenerateReport();">Generate Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var ct = document.getElementById("ddwnConstType").value;
        if (ct == "1") 
        {
            document.getElementById("divPanchayat").style.display = "block";
            document.getElementById("divPanchLabel").style.display = "block";
            document.getElementById("divConst").style.display = "none";
            document.getElementById("divConstLabel").style.display = "none";
        }
        else 
        {
            document.getElementById("divPanchayat").style.display = "none";
            document.getElementById("divPanchLabel").style.display = "none";
            document.getElementById("divConst").style.display = "block";
            document.getElementById("divConstLabel").style.display = "block";
        }

    </script>
</form>