
@{
    ViewData["Title"] = "Homepage";
    
}
<div class="text-center">
</div>

<br />
<h1 class="aligncenter" style=" color:darkred">Welcome to </h1>
<h1 class="aligncenter" style="font-size:45px; color:red">State Election Management System</h1>
<p style="height:30px;"></p>
<h3 class="aligncenter" style=" color:navy">You are logged in as @Context.Session.GetString("logUserType") </h3>


